body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Roboto';
}

h1{
    margin: 0;
}

/* hero and header*/
.header{
    display: flex;
    justify-content: space-between;
    padding:20px 0px 50px 0px;
    align-items: center;
}
.header-buttons{
    display: flex;
    gap: 20px;
}

.header-button{
    text-decoration: none;
    color: #e5e7eb;
}

.header-button.logo{
    font-size: 24px;
    color: #f9faf8;
}
.hero{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding-bottom: 90px;
    margin-bottom: 45px;
}
.hero,
.header{
    background-color: #1f2937;
    color: white;
    align-self: stretch;
    padding-left: 250px;
    padding-right: 250px;
}

.hero-title{
    font-size: 48px;
    font-weight: bolder;
    color:  #f9faf8;
}

.hero-text{
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up{
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
}

.image-container{
    flex: 1 0 500px;  
}
.hero-image{
    border-radius: 10px;  
    width: 100%;
    height: auto;
}

/* info section */
h2{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}
.info,
.quote-content{
    width: 60%;
}
.info-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 90px;
}
.info-block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.info-text{
    text-align: center;
}

.info-square{
    border: #3882f6 solid 3px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

/* quote */
.quote{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}
.quote-content{
    padding: 90px 0px 45px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    margin: 0px;
    color: #1f2937;
    -webkit-text-stroke: 1px #e5e7eb;
}

.quote-author{
    align-self: flex-end;
    font-size: 25px;
    font-weight: 300;
    margin: 0px;
    
}

/* cta */
.cta{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 90px 0px 90px 0px;
}

.cta-content{
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    border-radius: 10px;
    width: 60%;
    padding: 45px 0px 45px 0px;
}


.cta-title,
.cta-description,
.cta-button{
    color: white;
    margin: 0px
}

.cta-title{
    font-size: 20px;
    font-weight:bold;
}

.cta-content{
    color: #e5e7eb;
    font-weight: 100;
    -webkit-text-stroke: .5px #3882f6;
}
.cta-button{
    background-color: #3882f6;
    border: white solid 2px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 30px 5px 30px;
}

/* footer */
.footer{
    background-color: #1f2937;
    width: 100%;
}

.footer-text{
    text-align: center;
    color: #e5e7eb;
    padding-top: 35px;
    padding-bottom: 35px;
}